body {
    background-color: #272B2E;
    color: #fff;
    font-family: 'Segoe UI';
}

a {
    border: none;
    color: #fff;
}

.dropdown {
    color: #050505;
}

.content {
    width: 100%;
    margin-left: 0.22em;
    margin-right: 0.22em;
}

.text-date {
    font-size: 1.25em;
    color: #555555;
}

.news-content {
    font-size: 1.6em;
    color: #555555;
}

.cards-container {
    margin-top: 10px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-normalized {
    margin-left: 10px;
    margin-right: 10px;
}

.card-img {
    object-fit: cover;
    margin-top: 8px;
    border: 2px dashed #fff;
}

.btn-card {
    margin-left: 4px;
    margin-right: 4px;
}

.btn {
    border-color: currentcolor;
}

#add_news_button, #add_award_button {
    border: none;
    width: 100%;
}
