body {
    background-color: #888888;
    font-family: "Segoe UI";
}
form {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid gray;
    padding: 10px;
}
form.main {
    margin-top: -30px;
    max-width: 1100px;
    background-color: #e7e7e7;
    border: 0px solid gray;
    border-color: #333333;
    border-radius: 0px;
    box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.57);
    padding: 50px;
}
.news_card {
    padding: 30px;
    padding-top: 20px;
    margin-top: 10px;
    max-width: 1100px;
    background-color: #fcfcfc;
    border: 1px solid gray;
    border-color: #888;
    border-radius: 2px;
    box-shadow:0px 2px 16px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 2px 16px 0px rgba(0,0,0,0.25);
    -moz-box-shadow:0px 2px 16px 0px rgba(0,0,0,0.25);
}
form.login_form {
    width: 600px;
    background-color: #cccccc;
    text-indent: 25px;
}
form.list {
    min-width: 400px;
    max-width: 800px;
    background-color: #f9f9f9;
    text-indent: 25px;
}
form.standard {
    width: 700px;
    background-color: #ffffff;
    text-align: center;
    border-color: #ffffff;
    border-radius: 10px;
}
form.successful {
    width: 550px;
    min-height: 180px;
    background-color: #eeffee;
    text-align: center;
    border: 2px solid gray;
    border-color: #22aa22;
    border-radius: 10px;
}
p.checkmark {
    text-indent: 5px;
}
a {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #050505;
}
nav {
    padding: 0px;
    min-height: 50px;
    background-color: #eeeefe;
    box-shadow:0px 2px 16px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 2px 16px 0px rgba(0,0,0,0.25);
    -moz-box-shadow:0px 2px 16px 0px rgba(0,0,0,0.25);
}
@media (min-width: 800px)
.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar {
    padding: 5px;
    align-items: center;
}
.dropdown-menu {
    padding: 2px;
}
.dropdown-item {
    padding: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}
p {
    margin-bottom: 0px;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
h6 {
    font-size: 16;
    color: #555555;
}
label {
    font: 30px;
}
input {
    margin-left: 50px;
    max-width: 480px;
}
button {
    padding: 5px;
}
.btn {
    border: 1px solid gray;
    border-radius: 0px;
    padding-top: 4px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    width: auto;
}
th {
    padding: 5px;
    border-left: 25px;
    text-align: center;
}
td {
    padding: 5px;
    text-align: center;
}