{% extends "base.html" %}

{% block content %}
<form class="main">
    {% block header %}
    {% endblock %}
    <div class="infoblock" style="line-height: 30px;">
        <h2 style="margin-top: 10px; margin-bottom: 20px; text-align: center;">Приём в Лицей</h2>
        <p>Уважаемые родители будущих первоклассников!</p>

        <p>Запись в первые классы 2021-2022 учебного года в МАОУ Лицей №7 для детей, проживающих на закрепленной
            территории, начнется 01 апреля 2021 года.</p>

        <p>График приема документов: 1 апреля с 8.00 до 14.00; далее каждую субботу с 9.00 до 10.00. Вопросы можно
            задать по т. 8(391) 243-36-28.</p>

        <p>Список документов для зачисления ребенка в первый класс</p>

        <p>Для приема в Лицей родитель(и) (законный(ые) представитель(и) предоставляет следующие документы:</p>
        <ul>
            <li>личное <a class="in_text" href="http://lyceum7.ru/control/files/63119.doc">заявление</a> родителей
                (законных
                представителей) при предъявлении документа, удостоверяющего
                личность;
            </li>
            <li>копию документа, удостоверяющего личность родителя (законного представителя) ребенка или поступающего;
            </li>
            <li>копию свидетельства о рождении ребенка или документа, подтверждающего родство заявителя;</li>
            <li>копию документа, подтверждающего установление опеки или попечительства (при необходимости);</li>
            <li>копию документа о регистрации ребенка по месту жительства или по месту пребывания на закрепленной
                территории или справку о приеме документов для оформления регистрации по месту жительства (в случае
                приема на обучение ребенка, проживающего на закрепленной территории, или в случае использования права
                преимущественного приема на обучение по образовательным программам начального общего образования);
            </li>
            <li>справку с места работы родителя(ей) (законного(ых) представителя(ей) ребенка (при наличии права
                внеочередного или первоочередного приема на обучение);
            </li>
            <li>копию заключения психолого-медико-педагогической комиссии (при наличии).</li>
        </ul>
        <p>При посещении Лицея и (или) очном взаимодействии с уполномоченными должностными лицами Лицея родитель(и)
            (законный(ые) представитель(и) ребенка предъявляет(ют) оригиналы документов, указанных в п. 2-5).</p>

        <p>Услугу можно получить по <a class="in_text"
                                       href="https://gosuslugi.krskstate.ru/service/2231?sub=980">ссылке</a></p>

        <p>Родитель(и) (законный(ые) представитель(и) ребенка, являющегося иностранным гражданином или лицом без
            гражданства, дополнительно предъявляет(ют) документ, подтверждающий родство заявителя(ей) (или законность
            представления прав ребенка), и документ, подтверждающий право ребенка на пребывание в Российской
            Федерации.</p>

        <p>Иностранные граждане и лица без гражданства все документы представляют на русском языке или вместе с
            заверенным
            в установленном порядке переводом на русский язык.</p>

        <p>Дети с ограниченными возможностями здоровья принимаются на обучение по адаптированной основной
            общеобразовательной программе только с согласия их родителей (законных представителей) и на основании
            рекомендаций территориальной психолого-медико-педагогической комиссии (п.17 приказа Минобрнауки России № 32
            от
            22.01.2014)</p>

        <p>Для несовершеннолетних детей, не достигших возраста 6 лет 6 месяцев, либо достигших возраста 8 лет,
            предоставляется приказ (разрешение) главного управления образования администрации города. (п.1 ст.67 ФЗ №
            273
            "Об образовании в РФ" от 29.12.2012)</p>

        <p>На запись в первый класс родители приходят без детей.</p>

        <p>Количество мест на 2021-2022 учебный год 50 человек ( 2 класса). Обучение проводится по УМК "Перспектива" и
            УМК
            программы развивающего обучения по Системе Д.Б.Эльконина–В.В.Давыдова.</p>

        <p><a class="in_text" href="http://lyceum7.ru/control/files/273132.pdf">Перечень категорий граждан, имеющих
            льготы при
            поступлении в ОУ</a></p>
        <p>Прием в первые классы осуществляется в соответствии с нормативными документами:</p>

        <ul>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/232812.pdf">Приказ Министерства просвещения РФ
                от 2 сентября 2020 г. № 458 "Об утверждении Порядка приема на
                обучение по
                образовательным программам начального общего, основного общего и среднего общего образования"</a>
            </li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/291928.pdf">Распоряжение администрации города
                Красноярска "Об утверждении Административного регламента
                предоставления
                муниципальной услуги по выдачи разрешения на прием детей, не достигших возраста шести лет шести месяцев,
                в муниципальные образовательные учреждения города Красноярска" №12 от 14.02.2012 года;
            </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/16481.pdf">Приказ главного управления
                образования от 10 марта 2021 № 105/п «О закреплении территориальных границ
                микроучастков за общеобразовательными учреждениями»
            </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/276831.pdf">Положения о порядке приема
                обучающихся муниципального автономного общеобразовательного учреждения «Лицей
                №7»
                Подробнее в разделе Сведения о лицее- Прием в лицей. Вакантные места.
            </a></li>
        </ul>

        <p>С уважением, администрация лицея.</p>
    </div>
</form>
{% endblock %} 