{% extends "base.html" %}

{% block content %}
<form class="main">
    <div class="info_block">
        <h2 style="margin-top: 10px; margin-bottom: 20px; text-align: center;">ОРКСЭ</h2>
        <p>Информация для родительского собрания обучающихся 3 классов 30 марта 2021 г.</p>

        <p>Одна из важных тем родительского собрания выбор модуля курса «Основы религиозных культур и светской этики»
            (ОРКСЭ). </p>

        <p>30 марта 2021 г. состоится родительское собрание обучающихся 3-х классов по выбору модуля курса «Основы
            религиозных культур и светской этики» (ОРКСЭ).</p>

        <p>С сентября 2013 года во всех регионах России введен курс «Основы религиозных культур и светской этики». Курс
            адресован обучающимся начальной школы, поскольку именно в младшем школьном возрасте происходит социализация
            ребенка, расширяется круг его общения, от него требуется проявление личностной позиции, определяющейся
            принятыми духовно-нравственными ценностями.</p>

        <p>Курс ОРКСЭ носит культурологическую направленность, его преподавание не предусматривает обучения религии, в
            рамках курса «Основы религиозных культур и светской этики» речь идет о знакомстве школьников с
            нравственно-культурологическими основами традиционных для России религий. Учитывая поликультурный и
            поликонфессиональный характер российского общества, учебный предмет «Основы религиозных культур и светской
            этики» имеет комплексный характер и включает шесть модулей.</p>

        <p>Модули для изучения:</p>
        <ul>
            <li>Основы светской этики</li>
            <li>Основы православной культуры</li>
            <li>Основы исламской культуры</li>
            <li>Основы буддийской культуры</li>
            <li>Основы иудейской культуры</li>
            <li>Основы мировых религиозных культур(знакомство со всеми выше перечисленными религиозными культурами)</li>
        </ul>

        <p>Родители совместно с детьми должны сами выбрать, какой из модулей изучать в рамках комплексного учебного
            предмета в 4 классе.</p>
        <hr>
        <h4>Прикрепленные документы:</h4>
        <ul style="list-style-type: none">
            <li><a class="in_text" href="http://lyceum7.ru/control/files/122674.pptx">Презентация ОРКСЭ </a></li>
        </ul>
    </div>
</form>
{% endblock %}