{% extends "news_page.html" %}

{% block header %}
<div class="header-block">
    <div class="header-text">
        <p style="letter-spacing: 2.5px;">Муниципальное автономное</p>
        <p>общеобразовательное учереждение</p>
        <p class="h1">«Лицей № 7</p>
        <p style="letter-spacing: 1.5px;">имени героя Советского Союза</p>
        <p>Б.К. Чернышева»</p>
        <p style="letter-spacing: 7.2px;">города Красноярска</p>
        <br>
        <p style="font-size: 0.85em;">тел. (391) 243-36-28</p>
        <p style="font-size: 0.85em;">e-mail: lyceum7@mail.ru</p>
    </div>
</div>
<br>
{% endblock %}