{% extends "base.html" %}

{% block content %}
<form class="standard" method="POST" enctype="multipart/form-data">
    <h2>{{ title }}</h2>
    <br>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control", style="height: 300px") }}<br>
        {% for error in form.content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.files_field.label }}<br>
        {{ form.files_field(class="form-control file-input") }}<br>
        {% for error in form.files_field.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endif %}
</form>
{% endblock %}