{% extends "base.html" %}

{% block content %}
<form class="main">
    <div class="info_block">
        <h2 style="margin-top: 10px; margin-bottom: 20px; text-align: center;">Роснефть-класс</h2>
        <p><a href="https://www.rosneft.ru/" target="_blank">ПАО «НК "РОСНЕФТЬ"»</a> создает в городах присутствия своей Компании с целью «обеспечить приток в Компанию
            высокообразованной, имеющей хорошую профессиональную подготовку молодежи из регионов, через повышение
            качества образования и целенаправленную профессиональную ориентацию, дальнейшее сопровождение их и
            обучения в ВУЗах, привлечение на практику, стажировку»</p>
        <p>«Роснефть-класс» - класс городского набора, физико-химический профиль обучения, курирует компания ООО
            «РН-Ванкор» и ИНиГ СФУ.</p>
        <p>Конкурсный отбор учащихся в «Роснефть-класс» состоится 29.05.2021 (суббота) с 8.30 до 15.30 в Лицее №7.</p>
        <p>Запись на собеседование с 6 апреля 2021 по 27 мая 2021, пн-пт 8.00-18.00, сб. 9.00-14.00 или в
            приемной Лицея №7</p>
        <h5>Конкурсная процедура состоит из 3 этапов:</h5>
        <ol>
            <li>Рейтинг, выстраиваемый по среднему баллу за аттестат, по оценкам по профильным предметам
                (математика, физика, химия);</li>
            <li>Психологическое тестирование, которое носит рекомендательный характер;</li>
            <li>Собеседование на предмет осознанности и обоснованности выбора данного 10 «Роснефть-класса» для
                дальнейшего обучения с представителями компании «Ванкорнефть», института нефти и газа.</li>
        </ol>
        <h5>На собеседовании иметь с собой по желанию:</h5>
        <ul>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/38289.docx">Анкета</a>;</li>
            <li>Портфолио или резюме;</li>
            <li>Презентацию о себе (по желанию).</li>
        </ul>
        <p>На собеседовании могут быть вопросы: о компании Роснефть, ее дочерних предприятиях, о нефти и
            нефтяных месторождениях, о предметных знаниях и т.п.</p>
        <hr>

        <p>Более подробная информация о наборе по телефонам:</p>
        <ul>
            <li>243-36-28 - приемная лицея;</li>
            <li>8-923- 758- 90-16 – Фильнова Мария Геннадьевна.</li>
        </ul>
        <p>О родительском собрании по новому набору в «Роснефть-класс» будет сообщено на сайте в разделе
            "Объявления" и в новостной ленте. Адрес Лицея № 7: ул. Менжинского, 15, остановка «Западный» после
            Копыловского моста.</p>
    </div>
</form>
{% endblock %}