{% extends "base.html" %}

{% block content %}
<form class="main">
    <div class="info_block">
        <h2 style="margin-top: 10px; margin-bottom: 20px; text-align: center;">Школьное питание</h2>
        <p>В лицее оборудована столовая с кухней и буфетом - площадь обеденного зала 203,8 кв.м - наполняемость 164
            посадочных места. Летом 2020г. проведен ремонт обеденного зала и буфета лицейской столовой. Муниципальное
            задание в разделе «Питание учащихся» выполняется на 100%. </p>
        <p>В лицее уделяется внимание соблюдению установленных санитарно-эпидемиологических требований к организации
            питания обучающихся, к состоянию пищеблока, поставляемым продуктам питания и их хранению, приготовлению и
            раздаче блюд. Контроль за организацией питания осуществляет бракеражная комиссия. Организован родительский
            контроль.</p>
        <p>
            В рамках соблюдения «Особого режима работы МАОУ лицей №7 в условиях распространения новой коронавирусной
            инфекции (covid-19)» в санитарных узлах установлены санитайзеры для обработки рук антисептиками, на входе в
            столовую установлен бесконтактный санитайзер для дезинфекции рук. Проводится регулярное обеззараживание
            воздуха с использованием оборудования по обеззараживанию воздуха и проветривание помещений в соответствии с
            графиком. Сотрудники, участвующие в приготовлении и раздаче пищи, обслуживающий персонала используют
            средства индивидуальной защиты органов дыхания (одноразовые маски) и перчатки. Мытье посуды и столовых
            приборов осуществляется в посудомоечных машинах при максимальных температурных режимах.
        </p>
        <h5><a class="in_text" href="http://lyceum7.ru/control/files/17681.pdf" target="_blank">График питания
            классов </a></h5>
        <hr>

        <h5>Телефоны горячей линии по питанию:</h5>
        <ul>
            <li>243-36-28 - Ответственный специалист по питанию в МАОУ Лицей №7 Задолинная Наталья Александровна;</li>
            <li>221-00-85 - Ответственный специалист за приём документов на льготное питание Мурина М. И.;</li>
            <li>263-81-54 - Отдел правовой работы;</li>
            <li>234-75-64 - Центр питания;</li>
            <li>221-01-83 - ТО.</li>
        </ul>
        <hr>

        <h5>Перечень законов о школьном питании:</h5>
        <ul>
            <li><a class="in_text" href="https://www.garant.ru/products/ipo/prime/doc/73584045/" target="_blank">
                Федеральный закон от 01.03.2020 № 47-ФЗ «О внесении изменений в Федеральный закон «О качестве и
                безопасности пищевых продуктов».</a></li>
            <li><a class="in_text" href="https://base.garant.ru/74238456/" target="_blank">Методические рекомендации
                2.4.0179-20 по организации питания обучающихся общеобразовательных организаций (утв. Федеральной службой
                по надзору в сфере защиты прав потребителей и благополучия человека 18.05. 2020. </a></li>
            <li><a class="in_text" href="http://www.zakon.krskstate.ru/0/doc/7838" target="_blank">Закон Красноярского
                края «О защите прав ребенка» № 12-961 от 02.11.2000 года; </a></li>
            <li><a class="in_text" href="http://www.krskstate.ru/docs/0/doc/31509" target="_blank">Постановление
                Правительства Красноярского края от 05.04.2016 № 155-п «Об утверждении порядка обращения за получением
                денежной компенсации взамен горячего завтрака и горячего обеда обучающимся с ограниченными возможностями
                здоровья в краевых государственных, муниципальных и частных общеобразовательных организациях по имеющим
                аккредитацию основным общеобразовательным программам, осваивающим основные общеобразовательные программы
                на дому, и Порядка ее выплаты»; </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/52288.pdf" target="_blank"> Закон Красноярского
                края от 09.09.2020 №9-4002 О внесении изменений в отдельные законы края в сфере защиты прав ребенка</a>
            </li>
        </ul>
        <hr>

        <ul>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/102459.pdf" target="_blank">Положение о порядке
                доступа законных представителей обучающихся в столовую </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/222229.pdf" target="_blank"> Положение об
                организации питания без взимания платы отдельных категорий обучающихся </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/293219.pdf" target="_blank"> Положение об
                организации питания учащихся МАОУ Лицей 7 </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/135363.pdf" target="_blank"> Положение о
                бракеражной комиссии в школе </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/284375.pdf" target="_blank"> Приказ об
                организации питания в 2020-2021 учебном году и создании бракеражной комиссии </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/10119.pdf" target="_blank">План работы
                бракеражной комиссии </a></li>
            <li>Состав бракеражной комиссии на 2020-2021 уч. год: Карогодина И.И. зав. столовой, Январева Е.Ю. медсестра
                лицея, Задолинная Н.А. представитель лицея
            </li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/32110.pdf" target="_blank">Порядок
                предоставления питания в период дистанта</a>
            </li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/25197.pdf" target="_blank">Список поставщиков
                продуктов питания</a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/150350.pdf" target="_blank">СанПиН
                2.3/2.4.3590-20 "Санитарно-эпидемиологические требования к организации общественного питания
                населения"</a></li>
        </ul>

        <hr>
        <p>Организация питания в Лицеи осуществляется на основании: </p>

        <ul>
            <li>Договора №124 на оказание услуг по организации горячего питания обучающихся муниципальных
                общеобразовательных учреждений Железнодорожного и Центрального районов
            </li>
            <li>Соглашение №1 от 11.01.2021 г. о взаимодействии по организации питания обучающихся МАОУ Лицей №7 за счет
                бюджетных и внебюджетных средств
            </li>
            <li>Договора без номера от 05.03.2013г.о передаче в безвозмездное пользование муниципальных нежилых
                помещений. Руководитель ООО «Кулинар» Зенич Галина Николаевна.
            </li>
        </ul>

        <p> Совместно с комбинатом питания в лицее реализуется программа «Здоровое питание» через цикличное меню,
            директором комбината питания ООО "Кулинар" Зенич Г.Н и директором МАОУ Лицей " 7 Переваловой И.Д.
            Продолжается участие лицея в городском проекте "Совершенствование организации школьного питания".</p>
        <p>Оплата питания обучающимися осуществляется по «Картам школьника».</p>
    </div>
</form>
{% endblock %}