{% extends "base.html" %}

{% block content %}
<form class="main">
    <div class="info_block">
        <h2 style="margin-top: 10px; margin-bottom: 20px; text-align: center;">Специализированные классы</h2>
        <p>Лицей №7 приглашает семиклассников и девятиклассников для поступления в восьмые и десятые специализированные
            классы на 2020-2021 учебный год.</p>

        <p>Набор в специализированные классы будет проводиться на конкурсной основе. Зачисление в эти классы будет
            осуществляться независимо от места жительства. Порядок комплектования классов регламентирован Положением о
            специализированных классах (Локальные акты)</p>

        <p>Всем желающим обучаться по программе специализированных классов необходимо предоставить табель успеваемости,
            аттестат (после получения), а также предоставить портфолио достижений кандидата.</p>

        <p>Вопросы по телефону 8(923)-758-9016</p>

        <p>Фильнова Мария Геннадьевна, зам. директора по УВР.</p>
    </div>
</form>
{% endblock %}