{% extends "base.html" %}

{% block content %}
<form class="main">
    <div class="info_block">
        <h2 style="margin-top: 10px; margin-bottom: 20px; text-align: center;">Красноярский стандарт качества
            образования</h2>

        <div class="img_container">
            <a href="https://krasobr.admkrsk.ru/" target="_blank">
                <img width="100%" src="http://lyceum7.ru/control/files/206921.jpg">
            </a>
        </div>

        <p>Красноярский стандарт качества образования рассматривается как смысловой каркас, обеспечивающий формирование
            программных представлений о развитии муниципальной системы образования с конкретизацией ФГОС (в части
            образовательных результатов и необходимых для их достижения условий) и ориентацией на стратегические
            направления социально-экономического развития города Красноярска.</p>

        <p>Красноярский стандарт качества образования представляет собой совокупность требований к организации
            действительно образовательного процесса (обучения, воспитания, развития) для достижения определённых
            образовательных результатов с необходимостью обеспечить общекультурный уровень жителя столицы Красноярского
            края и потенциальную основу развития наукоемкого, высокотехнологичного производства, а также
            предпринимательства во всех сферах жизнеобеспечения города.</p>

        <p>Красноярский стандарт качества образования (КСКО) выражается своеобразной формулой: КСКО = К + Э + Д как
            результат сложения ключевых аспектов образовательного процесса:</p>

        <ul>
            <li>Конкурентоспособность (К) применяемых технологий обучения, означающая, прежде всего, вовлеченность в
                учебный процесс каждого учащегося с учетом его индивидуальных особенностей, в том числе и за счет
                сетевых форм получения образования, современных электронных сервисов;
            </li>
            <li>Эффективность (Э) использования существующей и создаваемой инфраструктуры обучения, означающей, прежде
                всего, комфортность процесса обучения, в том числе и за счет расширения образовательного пространства
                школы, новых дизайнерских решений;
            </li>
            <li>Достоверность (Д) образовательных результатов, достигаемых учащимися в процессе обучения, означающая,
                прежде всего, практичность этих результатов, проверяемую за счет независимой оценки качества обучения, в
                том числе в ситуациях так называемого «переноса» в рамках проектной, исследовательской,
                научно-технической деятельности.
            </li>
        </ul>

        <hr>
        <h4>2020-2021 год</h4>
        <ul style="list-style-type: none">
            <li><a class="in_text" href="http://lyceum7.ru/control/files/52389.pdf"> Дорожная карта 2020-2021</a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/65288.pdf"> План реализации дорожной карты
                2020-2021 </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/140710.pdf"> Муниципальная стратегия развития
                общего образования до 2030</a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/153079.pdf"> План мероприятий для учащихся по
                достижению образовательных результатов </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/139694.pdf">План мероприятий МАОУ Лицей 7</a>
            </li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/15365.xlsx">Рефлексивно-аналитическая справка о
                форми.года</a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/246545.pdf">Справка итоговой оценки освоения
                предметов</a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/245410.pdf">Формат Р-ПП.
                Рефлексивно-аналитическая справка о психолого-педагогической поддержке</a></li>
            <li>Реализация решений городской августовской педагогической конференции 2018 года</li>
        </ul>

        <h4>Прикрепленные документы</h4>
        <ul>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/111184.pdf">Карта по формированию приоритетно
                выделенных образовательных результатов. </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/295837.pdf">План мероприятий МАОУ Лицей № 7
                имени Героя Советского Союза Б. К. Чернышева по реализации приоритетных направлений развития МСО г.
                Красноярска на 2019-2020 учебный год </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/294839.pdf">Формат Р-ОУ.
                Рефлексивно-аналитическая справка о приоритетах формирования результатов </a></li>
            <li><a class="in_text" href="http://lyceum7.ru/control/files/232959.pdf">ВЫПИСКА ИЗ ПРОТОКОЛА
                ПЕДАГОГИЧЕСКОГО СОВЕТА № 2 МАОУ ЛИЦЕЙ №7 </a></li>
        </ul>
    </div>
</form>
{% endblock %}